@charset "utf-8";
/* -0px-480px-768px-1024-1200- */

.\? {
  box-shadow: inset 4px 4px rgb(236, 15, 170), inset -4px -4px rgb(236, 15, 170);
}

/* ------------------------------------*/
/* BASIC SETUP */
/* ------------------------------------*/
* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}
/* -- color -- */
:root {
  --beige: #d9c9b4;
  --black: #2e2e2e;
  --gray: #e0e0e0;
}

.bg-beige {
  background-color: var(--beige);
}
.bg-black {
  background-color: var(--black);
}
.bg-gray {
  background-color: var(--gray);
}

/* -- font -- */
html,
  /*For responsible website */
body {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 24px;
  color: #2e2e2e;
}
body {
  height: 100vh;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150px;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
}
h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
}

h5 {
  font-size: 36px;
}

h6 {
  font-size: 34px;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* --Basic-- */

.inline {
  display: inline;
}

/* ------------------------------------*/
/* REUSABLE COMPONENTS */
/* ------------------------------------*/

.row {
  width: 80%;
  margin: auto;
}

/* ----- HEADINGS ----- */
/* ----- PARAGRAPHS ----- */

/* ----- BUTTONS ----- */
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 7px;
  color: #2e2e2e;
}

.btn-full:link,
.btn-full:visited {
  background-color: var(--beige);
  border: 1px solid var(--beige);
  margin-right: 15px;
}

.btn:hover,
.btn:active {
}
.btn-full:hover,
.btn-full:active {
  background-color: var(--gray);
  border: 1px solid var(--gray);
}

/* ------------------------------------*/
/*  LANDING PAGE */
/* ------------------------------------*/
/* -- nav color -- */
.topnav-indexcolor,
.topnav-indexcolor a,
.topnav-portfoliocolor,
.topnav-portfoliocolor a,
.topnav-contactcolor,
.topnav-contactcolor a {
  color: var(--black);
}
.topnav-aboutcolor,
.topnav-aboutcolor a {
  color: var(--gray);
}

/* -- NAV --*/
.topnav {
  width: 100%;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;

  position: fixed;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.topnav-list {
  text-align: center;
  /* display: inline; */
}
.topnav-name {
  padding-left: 1rem;
}
.topnav-list ul li {
  display: inline;
  padding-left: 1rem;
  padding-right: 1rem;
}
.topnav-cv {
  text-align: right;
  padding-right: 1rem;
}

/* -- NAME --*/
.section-landing {
  height: 100vh;

  /*position: relative;*/
}
.landing-name {
  text-align: center;
  padding: 3rem;
  /* margin-top: 3%; */
}

.landing-jobtitle {
  text-align: center;
}

/* -- DETAIL --*/

.landing-detail {
  color: var(--gray);
  width: 80%;
  margin: auto;
  padding: 3%;
  margin-top: 3%;
}
.landing-detail img {
  width: 291px;
}
.detail-upper {
  display: flex;
  justify-content: space-around;
}
.detail-sentence ul li {
  padding-top: 3%;
}
.detail-btn {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}

/* -- STICKY SOCIAL --*/
.sticky-social {
  padding: 1%;
}

.social1 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.social1 ion-icon {
  font-size: 48px;
  color: var(--black);
}

/* ------------------------------------*/
/*  ABOUT */
/* ------------------------------------*/

.section-about {
  height: 100vh;

  position: relative;
}
.about-title {
  color: #e0e0e0;
  transform: rotate(-90deg);
  text-align: right;

  position: absolute;
  left: -10%;
  top: 35%;
}
.about-belt {
  background-color: var(--black);
  color: var(--gray);
  margin-bottom: 3%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
.about-detailbox {
  width: 73%;
  margin-top: 7%;
  margin-left: 14%;
  padding: 3% 3% 3% 3%;

  position: relative;
}
.about-p {
  margin-left: 20%;
  line-height: 1.5em;
}
.about-li {
  margin-left: 20%;
}

.social2 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.social2 ion-icon {
  font-size: 48px;
  color: #e0e0e0;
}

/* ------------------------------------*/
/*  ABOUT */
/* ------------------------------------*/

.section-portfolio {
  background-color: #e0e0e0;
  height: 90vh;

  position: relative;
}

.portfolio-title {
  color: #2e2e2e;
  transform: rotate(-90deg);
  text-align: right;

  position: absolute;
  left: -10%;
  top: 35%;
}
.portfolio-detailbox {
  background-color: #2e2e2e;
  width: 73%;
  margin-top: 7%;
  margin-left: 14%;
  padding: 3% 3% 3% 3%;

  position: relative;

  color: #e6e6e6;
}
.box-gal {
}

.social3 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.social3 ion-icon {
  font-size: 48px;
  color: #2e2e2e;
}
