@charset "utf-8";
/* -0px-480px-768px-1024-1200- */

.\? {
  box-shadow: inset 4px 4px rgb(236, 15, 170), inset -4px -4px rgb(236, 15, 170);
}

/* ------------------------------------*/
/* BASIC SETUP */
/* ------------------------------------*/
* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}

/* --Basic-- */
.inline {
  display: inline;
}
.padding1 {
  padding: 1rem;
}

/* -- color -- */
:root {
  --beige: #d9c9b4;
  --black: #2e2e2e;
  --gray: #e0e0e0;
  --orange: #f49a5e;
}
.bg-beige {
  background-color: var(--beige);
}
.bg-black {
  background-color: var(--black);
}
.bg-gray {
  background-color: var(--gray);
}

/* -- font -- */
html,
  /*For responsible website */
body {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 24px;
  color: #2e2e2e;
}
body {
  height: 100vh;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 541%; /* 150px */
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 416%; /* 100px */
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 291%; /* 70px */
}
h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%; /* 60px */
}

h5 {
  font-size: 150%; /* 36px */
}

h6 {
  font-size: 142%; /* 34px */
}

li {
  list-style: none;
}

/* -- LINK -- */
a {
  text-decoration: none;
}

/* -- LINK for nav -- */
a::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
a::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  z-index: -1;
  transition: transform 0.3s ease;
}
.topnav-indexcolor a::before,
.topnav-contactcolor a::before {
  background-color: rgb(255, 239, 210);
}
.topnav-aboutcolor a::before,
.topnav-cvcolor a::before {
  background-color: rgb(112, 112, 112);
}
.topnav-portfoliocolor a::before {
  background-color: rgb(238, 238, 238);
}
.topnav a:link,
.topnav a:visited {
  /* color:  */

  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.2s, color 0.2s;
}
.topnav a:hover,
.topnav a:active {
  color: var(--orange);
  border-bottom: 1px solid var(--orange);
}

/* -- STICKY SOCIAL --*/
.sticky-social {
  font-size: 48px;
  padding: 1%;
  position: fixed;
  right: 0;
  bottom: 0;
}

.social-gray ion-icon {
  color: var(--gray);
}

.social-black ion-icon {
  font-size: 48px;
  color: var(--black);
}
.social-gray ion-icon:hover,
.social-gray ion-icon:active,
.social-black ion-icon:hover,
.social-black ion-icon:active {
  color: var(--orange);
  transition: border-bottom 0.2s, color 0.2s;
}

/* -- ANIMATION --*/
/* .js--wp-1 {
  opacity: 0;
  animation-duration: 1s;
} */
/* ------------------------------------*/
/* REUSABLE COMPONENTS */
/* ------------------------------------*/

.row {
  width: 80%;
  margin: auto;
}

/* ----- BUTTONS ----- */
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 7px;
  color: #2e2e2e;
}

.btn-full:link,
.btn-full:visited {
  background-color: var(--beige);
  border: 1px solid var(--beige);
  margin-right: 15px;
}

.btn:hover,
.btn:active {
}
.btn-full:hover,
.btn-full:active {
  background-color: var(--gray);
  border: 1px solid var(--gray);
}

/* ------------------------------------*/
/*  LANDING PAGE */
/* ------------------------------------*/
/* -- nav color -- */
.topnav-indexcolor,
.topnav-indexcolor a,
.topnav-portfoliocolor,
.topnav-portfoliocolor a,
.topnav-contactcolor,
.topnav-contactcolor a {
  color: var(--black);
}
.topnav-aboutcolor,
.topnav-aboutcolor a,
.topnav-cvcolor,
.topnav-cvcolor a {
  color: var(--gray);
}

/* -- NAV --*/
.topnav {
  width: 100%;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;

  position: fixed;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  z-index: 10;
}

.topnav-list {
  text-align: center;
  /* display: inline; */
}
.topnav-name {
  padding-left: 1rem;
}
.topnav-list ul li {
  display: inline;
  padding-left: 1rem;
  padding-right: 1rem;
}
.topnav-cv {
  text-align: right;
  padding-right: 1rem;
}

/* -- NAME --*/
.section-landing {
  height: 100vh;

  position: relative;
}
.landing-name {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
  /* margin-top: 3%; */
}

.landing-jobtitle {
  text-align: center;
  padding-bottom: 1rem;
}

/* -- DETAIL --*/

.landing-detail {
  color: var(--gray);
  width: 80%;
  margin: auto;
  padding: 1.5rem;
}
.landing-detail img {
  width: 291px;
}
.detail-upper {
  display: flex;
  justify-content: space-around;
}
.detail-sentence {
  padding-bottom: 2rem;
}
.detail-sentence ul li {
  padding-top: 1.5rem;
}
.detail-btn {
  display: flex;
  justify-content: space-around;
}

/* -- notification --*/
#notification {
  position: absolute;
  bottom: 2rem;
  right: 0;
  background: rgba(236, 236, 236, 0.993);
  border: 1px solid var(--beige);
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  padding: 1.5rem 3rem 1.5rem 1.5rem;
}
#notification:after {
  content: "";
  display: block;
  width: 5px;
  height: 100%;
  background-color: var(--orange);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 2px 0 0 2px;
}
#notification p {
  margin: 0 0 1rem 0;
  color: rgba(0, 0, 0, 0.68);
}
#notification p:last-child {
  margin: 0;
  color: rgba(0, 0, 0, 0.68);
}

@keyframes slideleft {
  0%,
  100% {
    transform: translate3d(100%, 0, 0);
  }
  10%,
  90% {
    transform: translate3d(-2rem, 0, 0);
  }
}
#notification {
  transform: translate3d(100%, 0, 0);
  animation: slideleft 5s 1s 1 cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-delay: 4s;
}

/* ------------------------------------*/
/*  ABOUT */
/* ------------------------------------*/

.section-about {
  /* height: 100vh; */
  padding-top: 5rem;

  /* position: relative; */
}
.about-title {
  color: var(--gray);
  writing-mode: vertical-lr;
  transform: rotate(180deg);

  position: fixed;
  left: 0;
  top: 5rem;
}
.about-belt {
  background-color: var(--black);
  color: var(--gray);
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.about-detailbox {
  width: 73%;
  margin-left: 14%;
  padding: 1rem;

  position: relative;
}
.about-p {
  margin-left: 20%;
  line-height: 1.5em;
}
.about-li {
  margin-left: 20%;
}

/* -- STICKY SOCIAL --*/

/* ------------------------------------*/
/*  PORTFOLIO */
/* ------------------------------------*/

.section-portfolio {
  /* height: 90vh; */
  padding-top: 5rem;
  /* position: relative; */
}

.portfolio-title {
  writing-mode: vertical-lr;
  transform: rotate(180deg);

  position: fixed;
  left: 0;
  top: 5rem;
}

.portfolio-detailbox {
  background-color: var(--black);
  width: 73%;
  margin-left: 14%;
  padding: 1rem;

  position: relative;

  color: var(--gray);
}

/* -- Gallery --*/
.box-gal {
  display: flex;
  justify-content: space-around;
}

.box-list {
  width: 45%;
  padding: 1rem;
}
.box-list img {
  height: 10rem;
}
.box-list p {
  color: var(--black);
}

/* -- STICKY SOCIAL --*/

/* ------------------------------------*/
/*  CONTACT */
/* ------------------------------------*/
.section-contact {
  padding-top: 5rem;
}
.section-contact a {
  color: var(--gray);
}
.contact-title {
  color: var(--black);
  writing-mode: vertical-lr;
  transform: rotate(180deg);

  position: fixed;
  left: 0;
  top: 5rem;
}

.contact-info,
.contact-email {
  color: var(--gray);
  width: 70%;
  margin-left: 14%;
  padding: 1rem;
}
.contact-email {
  margin-top: 2rem;
}

.form-box {
  width: 20rem;
  margin: 0 0 0 auto;
}
.form-message {
  width: 30rem;
  text-align: right;
}
.contact-email button {
  display: block;
  margin: 0 0 0 auto;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  width: 8rem;
}

/* -- STICKY SOCIAL --*/

/* ------------------------------------*/
/*  CV */
/* ------------------------------------*/

.section-cv {
  padding-top: 1.5rem;
}
.cv-title {
  color: var(--gray);
  /* writing-mode: vertical-lr; */
  /* transform: rotate(180deg); */

  position: fixed;
  left: 0;
  top: 5rem;
}

.cv-detailbox {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;

  position: relative;

  display: flex;
  justify-content: space-around;
}
.cv-detailbox img {
  display: inline;
}

/* ------------------------------------*/
/* ANIMATION */
/* ------------------------------------*/
/* .transition-x {
  opacity: 1;
  transition: 500ms;
  transform: translateX(0);
  transform-origin: left;
}

html.is-animating .transition-x {
  opacity: 0;
  transform: translateX(100%);
}
html.is-leaving .transition-x {
  opacity: 0;
}

.transition-o {
  opacity: 1;
  transition: 500ms;
}

html.is-animating .transition-o {
  opacity: 0;
}
html.is-leaving .transition-o {
  opacity: 0;
} */
